.wrapper-home,
.layout-wrapper {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow: hidden;
}

.video-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  filter: blur(1px);
  object-fit: cover; /* Ensure video covers the background */
}

.video-home video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.094); 
  padding: 20px 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-universe-tour {
  margin-top: 0.5rem; 
  animation: fadeRight 2000ms ease-in-out forwards;
}

.welcome-universe-tour h1 {
  font-weight: 400;
  font-size: 2rem;
  -webkit-text-stroke: 1px white;
  margin-bottom: 0.5rem;
  margin-right: 5rem;
}


.nav-bar {
  animation: fadeLeft 2000ms ease-in-out forwards;
}

.nav-ul {
  list-style: none;
  color: white;
  padding: 0;
  display: flex;
  margin-right: 1rem;
  gap: 30px; /* Adjust spacing */
}

.nav-ul li {
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.nav-ul li a {
  color: white;
  list-style: none;
  text-decoration: none;
}

.nav-ul li:hover {
  color: rgb(148, 220, 230);
  font-weight: 600;
}

.welcome-name {
  color: white;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-name h2 {
  font-size: 2rem;
  font-weight: bold;
  animation: showUp 4000ms ease-in-out forwards;
}

.welcome-name h2 span {
  font-size: 4rem;
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(120px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}
@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-120px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes showUp {
    0% {
      opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
  }
