.mars-title {
    margin-top: 5rem;
}

.destination-mars{
    animation: showUp 4000ms ease-in-out forwards;
}

.mars-text{
    margin-top: 20rem;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.destination-promo-mars-1 video,
.destination-promo-mars-2 video{
    border-radius: 30px;
    border: 10px solid rgba(255, 255, 255, 0.191);
    box-shadow: rgb(255, 123, 0) 11px 6px 2rem -3px;
}

.destination-promo-mars-1 video:hover,
.destination-promo-mars-2 video:hover {
    transition: transform 0.4s;
    border: none;
    box-shadow: rgb(255, 85, 0) 11px 6px 7rem -3px;
}

.destination-promo-mars-1{
    display: flex;
    justify-content: space-between;
}

#mars-video-1 {
    width: 45%;
}
.destination-mars-p {
    line-height: 1.3rem;
    background-color: rgba(161, 161, 161, 0.14);
    backdrop-filter: blur(1px);
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: rgba(165, 147, 115, 0.556) 11px 6px 2rem 0px;
}

.mars-p-1{
    width: 45%;
    height: 70%;
    margin: 7rem 3rem 0 0;
}

.mars-p-2{
    margin-top: 4rem;
    padding: 2rem;
    width: 45%;
    height: 50%;
}

.mars-p-3{
    margin: 4rem 0 3rem 0;
    padding: 2rem;
    width: 95%;
}

#mars-video-2 {
    width: 45%;
    margin-right: 2rem;
}

.destination-promo-mars-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#mars-video-3{
    width: 75%;
}
#mars-video-4{
    margin-top: 5rem;
    width: 95%;
}
.mars-p-4{
    color: white;
    font-weight: 800;
    margin-top: 4rem;
    text-align: center;
    font-size: 1.5rem;
}

@media (min-width:769px) {
  .mars-p-1,
  .mars-p-2,
  .mars-p-3{
    font-size: 1.5rem;
    line-height: 2.5rem;
  } 

}